/* SASS VARIABLES ........................................................... */

/* potential fonts */
$font-stack: 'Source Sans Pro', 'Helvetica', sans-serif;

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
/* potential colors */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

$green: #569561;
$green-dark: #4C724F;

$blue: #64BCE2;
$blue-dark: #5292C1;

$red: #EF4836;
$red-dark: #BC5050;

$orange: #F89E3A;
$orange-dark: #F37721;

$grey-lightest: #E3E3E3;
$grey-light: #D3D3D3;
$grey-dark: #666;
$grey-darkest: #333;

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
/* selected colors */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

$primary-color: $green;
$primary-color-dark: $green-dark;

$danger: $red;
$danger-dark: $red-dark;
