
/* SASS VARIABLES ........................................................... */

$font-stack: 'Source Sans Pro', 'Helvetica', sans-serif;

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
/* potential colors */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

$green: #4DAF7C;
$green-dark: #458C66;

$blue: #64BCE2;
$blue-dark: #5292C1;

$red: #EF4836;
$red-dark: #BC5050;

$orange: #F89E3A;
$orange-dark: #F37721;

$grey-lightest: #ECECEC;
$grey-light: #D3D3D3;
$grey-dark: #666;
$grey-darkest: #333;

/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
/* selected colors */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

$primary-color: $blue;
$primary-color-dark: $blue-dark;

$danger: $red;
$danger-dark: $red-dark;




/* CSS SELECTORS ............................................................ */
/* unclassed elements; general website style/format */

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-stack;
  font-weight: normal;
  width: 100%;
  height: 100%;
  margin: 0;
}

label {
  display: block;
  color: #455a64;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 0px;
}

h1,h2,h3,h4 {
  font-weight: 500;
}

p {
  font-size: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

pre {
  border-radius: 0;
  background-color: #E0F7FA;
  border-color: #80DEEA;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

code {
  background-color: #E0F7FA;
  color: #00ACC1;
}



