
<!-- ======================================================================= -->
<!-- app/html/main.html template -->

<!-- main container -->

<div class="container" ng-controller="MainCtrl as MainCtrl"  ng-cloak>

  
  <!-- BEGIN Grey box -->
  <div>

    <!-- BEGIN Gray box: map, map info, and barplots -->
    <div class="row grey">      <div class="col-sm-12">

      <!-- BEGIN left column: controls -->

      <div class="col-sm-2">
        Choose a server ID: 
        <select ng-model="MainCtrl.data.serverid" ng-options="serverid for serverid in MainCtrl.data.serverids"></select>
      </div>

      <div class="col-sm-2">
        Pick Y height:
        <select ng-model="MainCtrl.data.yHeight" ng-options="yHeight for yHeight in MainCtrl.data.yHeights"></select>
      </div>

      <div class ="col-sm-6">
        <div class="row">
          <br> Number of Days to look back: <code>{{MainCtrl.data.lookBackDay}}</code><br/>
          <input type="range" name="range" ng-model="MainCtrl.data.lookBackDay" min="1"  max="20">
        </div>
      </div>

      <!-- END left column  -->

      <!-- BEGIN right column: Plots -->
      <div class="col-sm-10" >
        <div class="row">
          <img class="img-responsive margin-sm" ng-src="{{MainCtrl.assembleUrl()}}" style="padding-left:15px;"/>
        </div>
      </div>

    </div>
    <!-- END map and plots -->

  </div>
  <!-- END grey box -->

</div> <!-- END container -->

